@media (max-width: 575px)
    .main-descr
        font-size: 21px
        text-align: center
        &_left
            font-size: 21px
       
    .header
        display: flex
        align-items: center
        flex-direction: column
        &__official
            font-size: 18px
            margin: 14px 0
        &__contacts
            display: flex
            flex-direction: column
            align-items: center
            a
                margin: 10px 0
        &__phone
            font-size: 20px

    .advantage__card
        flex-direction: column
        align-items: center
        margin-top: 45px
        &_block
            width: 100%
            &_text-main
                text-align: center
                font-size: 18px
                margin-top: 20px
            &_text
                font-size: 13px
            &:nth-child(2)
                margin: 45px 0
                
    .promo
        &__wrapper
            align-items: center
        &__header
            text-align: center
            font-size: 36px
        &__subheader
            text-align: center
            font-size: 20px
        &__icons
            width: 310px
    .consultation
        padding: 65px 0 50px 0
        &__wrapper
            display: flex
            flex-direction: column
            align-items: center
        &__descr
            text-align: center
            font-size: 17px
            
    .feed-form
        width: 250px    
    .carousel
        &__inner
            width: 250px   
    .catalog__tabs
        flex-direction: column
        align-items: center
    .catalog__tab
        &:nth-child(2)
            margin: 15px 0 15px 0
    .catalog__content
        justify-content: center
    .catalog-item__list
        li
            font-size: 13px
        ul
            padding: 0 10px 0 11px
    .catalog-item__subtitle
        margin-bottom: 10px
    .catalog-item__descr
        font-size: 13px
        margin: 0 auto
        padding-right: 6px
        width: 96%
    .recall__item
        flex-direction: column
        align-items: center
        &:nth-child(2)
            margin: 71px 0 71px 0
        &_img
            margin: 0
        &_text
            display: flex
            flex-direction: column
            align-items: center
            &-title
                margin-top: 30px
            &-main
                text-align: center
                font-size: 14px
    .footer__info
        width: 200px
        padding: 20px 0 30px 0
    .footer__map
        iframe
            height: 450px
    .footer__addr
        font-size: 15px
        margin-bottom: 18px
    .footer__phone
        font-size: 16px
        margin-bottom: 18px
    .footer__social-item
        width: 35px
        height: 35px
        &:nth-child(2)
            margin: 0 15px
        i
            font-size: 20px

    .modal
        width: 250px
        padding: 28px 18px 28px 18px
        &__close
            right: -28px
            font-size: 27px
            line-height: 16px
        &__subtitle
            margin-bottom: 21px
    .feed-form
        width: 213px
    
