@media (min-width: 576px) and (max-width: 767px)
    .header
        flex-direction: column
        &__official
                margin: 14px 0
        &__contacts
            display: flex
            flex-direction: column
            align-items: center
            a
                margin: 10px 0

    .advantage__card_block
        width: 29%
        &_text-main
            text-align: center
            font-size: 14px
        &_text
            font-size: 13px
    .promo__wrapper
        align-items: center